.user
  %h1= @user.email
  %p= @user.uid
  %h2 Given: #{@user.tips_given.sum(:amount)}
  .tips.given= render @user.tips_given
  %h2 Received: #{@user.tips_received.sum(:amount)}
  .tips.received= render @user.tips_received
