= form_for tip do |f|
  = f.hidden_field :tippee_id
  = f.label :amount, '$'
  = f.number_field :amount, min: 0
  = f.submit :tip, class: 'stripe-checkout', data: {key:         tip.tippee.stripe_public_key,
                                                    description: tip.description,
                                                    name:        'StripeConnectDemo'}
