<!DOCTYPE html>
<html>
  <head>
    <title>StripeConnectDemo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
      <%= link_to 'Users', :users %>
      <%= link_to 'Tips', :tips %>

      <% if current_user %>
        <%= current_user.email %>

        <% if current_user.uid %>
          <%= current_user.uid %>
        <% else %>
          <%= link_to 'Authorize Stripe', user_omniauth_authorize_path(:stripe_connect) %>
        <% end %>
        
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>

    <div>
      <%= flash[:notice] if flash[:notice] %>
      <%= flash[:alert] if flash[:alert] %>
    </div>

    <%= yield %>

  </body>
</html>
